.author-card h3 {
  margin: 10px 0 5px;
}

h1,
h2 {
  color: var(--secondary);
}

p {
  font-size: 16px;
  color: var(--shade);
  margin: 0.5em;
}

.tech-list {
  list-style-type: none;
  padding: 0;
}

.tech-list li {
  background: var(--tertiary);
  padding: 8px 12px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
}

.author-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.author-card {
  background: var(--tertiary);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  width: 250px;
}

.author-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.author-links {
  margin-top: 10px;
}

.author-links a {
  margin: 0 5px;
  color: var(--secondary);
  transition: color 0.3s ease;
}

.author-links a:hover {
  color: var(--link);
}

.school {
  color: var(--link);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0;
}
